# Backend
backend/__pycache__/
backend/.pytest_cache/
backend/.env
backend/alembic/versions/__pycache__/
backend/app/__pycache__/
backend/app/api/__pycache__/
backend/app/api/v1/__pycache__/
backend/tests/__pycache__/
backend/app/core/__pycache__/
backend/app/db/__pycache__/

# Docker
docker-compose.override.yml

# Mobile
mobile/build/
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/android/local.properties
mobile/android/.gradle/
mobile/android/app/build/
mobile/linux/flutter/ephemeral/
mobile/windows/flutter/ephemeral/
mobile/macos/Flutter/ephemeral/
mobile/.env

**/.DS_Store
*.pyc
backend/venv/
.venv/
